body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

#navigation{
    overflow:hidden;
    color:rgb(248, 248, 248);
    background-image:linear-gradient(to left, rgb(179, 74, 32),rgb(4, 8, 4));
    width:100%;
    border-radius:3px;
    margin:0px;
}
#navigation #home{
    background-image:linear-gradient(to right, #fd9308,rgb(184, 202, 153));
    color: white;


}

#navigation a:hover{
    background-image:linear-gradient(to right, #86a372,rgb(209, 25, 19));
    color: blanchedalmond;
}

#navigation a{
    float:left;
    text-decoration: none;
    padding:20px 50px;
    text-align: center;
    color:#fffdfd;
    border-radius: 2px;

}

h1{
    font-size: 50px;
     
}
h1 span{
    color: orange;
}

.flexible{
    display: flex;
    margin-bottom: 100px;

}
.half{
    width: 100%;
    padding: 5%  ;
     
}
.half img{
    width: 100%;
     padding: 10px 80px 150px 20px ;
}
.link{
    text-decoration:none ;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px    ;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    position: relative;
     
    }
    .gray{
        color: aqua;
    }
.half2{
    width:50%;
    padding:  5% ; 
}
.half2 img{
    width:70%;
    padding: 40px 130px 50px 250px ;
}
.about{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 885px;
}
h2{
    text-align: center;

}
#up{
    text-align: center;
    padding-left: 20px;
}
 #recepies{
     margin-bottom: 60px;
 }
.recepies-text{
    width: 65%;
    text-align:center ;
    margin:auto ;

}
.recepies-text h1{
    color: crimson;
}
.recepies-text p{
    color: cadetblue;
    font-size: 20 px;
}

.not{
    display: flex;
    margin: 0 auto;
}
.menu-item{
    width: 25%;
    margin: 65px 30px;
    padding: 60px;
    box-shadow: 0 0 10px 0 black;
    border-radius: 10px;
}
.item-img{
    width: 100%;
}
.menu-item p{
    font-size: 18px;
    color: rgb(117, 106, 106);
    line-height: 1.5;
}

.recipe-div-web-info{
    display: flex;
    margin: 250px 50px 100px 60px;
    padding-left:250px;
    border:2px solid #f1eded;
    box-shadow: 2px 2px 11px 2px #c2bfbf;
    border-radius:20px;
    

}

.web-info-all{
padding:50px;
text-align: center;

}
#footer{
    text-align: center;
    background: black;
    color: white;
    height: 250px;
    padding-top: 30px;
}
#footer p{
    color: rgb(166, 192, 140);
    font-size: 20px;
}
#footer span{
    color: rgb( 238, 45, 45);
}